@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #FFF;
    --foreground: #000;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --card: #F5F6FA;
    --card-foreground: #000;

    --side: #F9FAFC;
    --side-foreground: #000;
 
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
 
    --primary: #00247D;
    --primary-foreground: #DEE7FE;
    --primary-hover: #001A5A;
 
    --secondary: #FA3C22;
    --secondary-foreground: #F8FAFC;
    --secondary-hover: #E12D1C;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 5% 64.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: #F5F6FA;
    --card-foreground: #000;

    --side: #F9FAFC;
    --side-foreground: #000;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
 
    --primary: #00247D;
    --primary-foreground: #DEE7FE;
 
    --secondary: #FA3C22;
    --secondary-foreground: #f8fafc;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 240 3.7% 15.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}